fastapi
uvicorn
python-multipart
sqlalchemy
aiosqlite
websockets
geopy
python-dateutil
PyJWT
passlib[bcrypt]
pillow
# face-recognition will use the conda-installed dlib
face-recognition
opencv-python-headless
